[Unit]
Description=Automatisches System-Backup
After=network.target

[Service]
Type=oneshot
ExecStart=/bin/bash %h/arch-system-automation/backup.sh
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
